# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store
*.stackdump

# Editor / IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log Files
*.log
tmp/

# Environment & Live Credentials Protection
.env
.env.local
.env.production
config/db.custom.php
config/db.local.php
config/db.prod.php
