# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store
*.stackdump

# Editor / IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log Files
*.log
tmp/
